<br>
<div id="grid" class="mt-5 ml-3 mr-3">
</div>
<script>
    $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: "@Url.Action("GetAllEventResults", "Admin")",
                        update: {
                            url: "@Url.Action("EditEventResult", "Admin")",
                            dataType: "json",
                            type: "POST"
                        },
                        create: {
                            url: "@Url.Action("AddEventResult", "Admin")",
                            dataType: "json",
                            type: "POST"
                        },
                        destroy: {
                            url: "@Url.Action("DeleteEventResult", "Admin")",
                            dataType: "json",
                            type: "DELETE"
                        }
                    },
                    schema: {
                        model: {
                            id: "Id",
                            fields: {
                                Id: {from: "id", type: "number", editable: false},
                                Event: { from: "event", validation: { required: true } },
                                EventId: { from: "eventId", validation: { required: true } },
                                ImageUrl: { from: "imageUrl", validation: { required: true } },
                            }
                        }
                    },
                    pageSize: 20,
                    serverPaging: false,
                    serverFiltering: false,
                    serverSorting: false
        },
        toolbar: [
            { name: "create" }
        ],
                height: 550,
                editable: "popup",
                pageable: true,
                filterable: true,
                sortable: true,
                columns: [
                    {
                        field: "ImageUrl",
                        title: "Ссылка на картинку"
                    },
                    {
                        field: "Event.eventsName",
                        title: "Название мероприятия",
                        editor: eventEditor
                    },
                    {
                        command: "edit"
                    },
                    {
                        command: "destroy"
                    }
                ]
            });
    
    function eventEditor(container, options) {
                       $('<input required name="EventId">')
                           .appendTo(container)
                           .kendoDropDownList({
                               dataTextField: "eventsName",
                               dataValueField: "id",
                               height: 500,
                               dataSource: {
                                   transport: {
                                       read: {
                                           url: "@Url.Action("GetAllEvents", "Admin")",
                                           dataType: "json",
                                           cache: false
                                       }
                                   }
                               }
                           });
                   }
</script>