@model IPagedList<Event>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="row ">
    <div class="container">
        <div class="col-12 bg-secondary shadow p-3 mb-5 bg-white rounded m-1 ">
            <div class="row justify-content-center">
                @foreach (var item in Model)
                {
                    <div class="col-6 col-md-3 bg-secondary shadow p-3 mb-5 bg-white rounded m-2">
                    <a href="/Event/Info/@item.Id">@Html.DisplayFor(model => model.First().EventsName)</a>
                        @Html.DisplayFor(model => model.First().EventManager)
                        @Html.DisplayFor(model => model.First().EventDate)
                    </div>
                }
                               
            </div>
        </div>
    </div>
</div>
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
 
@Html.PagedListPager((IPagedList)Model, page => Url.Action("GetEvents",  new { page }))