<div class="container">
<div id="example">
    <div id="scheduler"></div>
</div>
</div>
<script id="event-template" type="text/x-kendo-template">
    <div class="movie-template">
      <p>#: title #</p>
      </div>
    </script>
<script id="customEditorTemplate" type="text/x-kendo-template">
<div class="k-edit-label"><label for="title">Название</label></div>
    <div data-container-for="title" class="k-edit-field">
        <input type="text" class="k-textbox" name="title" required="required" data-bind="value:title">
      </div>
       <div class="k-edit-label"><label for="recurrenceRule">Повторение</label></div>
          <div data-container-for="recurrenceRule" class="k-edit-field">
              <div data-bind="value:recurrenceRule" name="recurrenceRule" data-role="recurrenceeditor"></div>
            </div>
    <div class="k-edit-label">
        <label for="start">Начало</label>
      </div>
    <div data-container-for="start" class="k-edit-field">
        <input type="text"
               data-role="datetimepicker"
               data-interval="15"
               data-type="date"
               data-bind="value:start,invisible:isAllDay"
               name="start"/>
        <input type="text" data-type="date" data-role="datepicker" data-bind="value:start,visible:isAllDay" name="start" />
        <span data-bind="text: startTimezone"></span>
        <span data-for="start" class="k-invalid-msg" style="display: none;"></span>
      </div>
    <div class="k-edit-label"><label for="end">Конец</label></div>
    <div data-container-for="end" class="k-edit-field">
        <input type="text" data-type="date" data-role="datetimepicker" data-bind="value:end,invisible:isAllDay" name="end" data-datecompare-msg="End date should be greater than or equal to the start date" />
        <input type="text" data-type="date" data-role="datepicker" data-bind="value:end,visible:isAllDay" name="end" data-datecompare-msg="End date should be greater than or equal to the start date" />
        <span data-bind="text: endTimezone"></span>
        <span data-bind="text: startTimezone, invisible: endTimezone"></span>
        <span data-for="end" class="k-invalid-msg" style="display: none;"></span>
      </div>
    
</script>
<script>
$(function() {
    $("#scheduler").kendoScheduler({
        footer: false,
        date: new Date("@DateTime.Now.ToString("yyyy-M-d")"),
        startTime: new Date("@DateTime.Now.ToString("yyyy-M-d 08:00")"),
        allDaySlot: false,
        views: [
            {
                type: "day",
                selected: true,
            },
            {
                type: "week"
            }
        ],
        
        editable: {
            editRecurringMode: "series",
            template: $("#customEditorTemplate").html()
        },
        eventTemplate: $("#event-template").html(),
        timezone: "Europe/Minsk",
        dataSource: {
            batch: false,
            transport: {
                read: {
                    url: "@Url.Action("GetAllSchedulesByClassId", "Schedule", new {id = ViewBag.Id})",
                    dataType: "json",
                    type: "GET"
                },
                update: {
                    url: "@Url.Action("EditSchedule", "Schedule")",
                    dataType: "json",
                    type: "POST"
                },
                destroy: {
                    url: "@Url.Action("DeleteSchedule", "Schedule")",
                    dataType: "json",
                    type: "DELETE"
                },    
                create: {
                    url: "@Url.Action("AddSchedule", "Schedule")",
                    dataType: "json",
                    type: "POST"
                },
                parameterMap: function(options, operation) {
                    if (operation !== "read" && options) {
                        options.startDate = kendo.toString(options.startDate, "dd/MM/yyyy HH:mm");
                        options.endDate = kendo.toString(options.endDate, "dd/MM/yyyy HH:mm");
                        console.log(options)
                        return options;
                    }
                }
            },
            schema: {
                model: {
                    id: "id",
                    fields: {
                        id: {
                            from: "id",
                            type: "number"
                        },
                        title: {
                            from: "title",
                        },
                        start: {
                            type: "date",
                            from: "startDate"
                        },
                        end: {
                            type: "date",
                            from: "endDate"
                        },
                        recurrenceRule: {
                            from: "recurrenceRule"
                        },
                        classId: {
                            type: "number",
                            from: "classId",
                            defaultValue: @ViewBag.Id
                        }
                    }
                }
            }
        }
    });
});
</script>
<style>
    .k-icon.k-i-arrow-60-down{
        display: none;
        }
    .k-icon.k-i-arrow-60-up{
        display: none;
        }
    .k-current-time{
            display: none;
        }
</style>